# Discord Webhook Configuration (diperlukan jika menjalankan live notification ke Discord)
DISCORD_WEBHOOK_URL=https://discord.com/api/webhooks/1557307235908980828/ms2SHCTybzWkdR9ZFLsWi0LCz5IKkAntigDzPEBGH90yjY4QJ7lCBO5t4gEAba0hdubG

# GitHub Webhook Secret (opsional, untuk verifikasi HMAC signature)
GITHUB_WEBHOOK_SECRET=your_github_webhook_secret_here

# Server Port (opsional, jika membuat HTTP webhook listener)
PORT=3000
